body {
    margin: 0;
    background-color: #000000;
}

header {
    background: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: #ffffff;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.logo img {
    width: 50px;
}

.logo .logo-text {
    margin-left: 10px;
    font-size: 20px;
}

.logo:hover .logo-text {
    color: aqua;
}

nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.nav-menu li.active,
.nav-menu li:hover {
    color: aqua;
}

.main-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 139px);
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/raccoon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.background-fadeIn {
    animation: fadeIn 0.25s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.player-area {
    width: 400px;
    max-width: 100%;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    filter: drop-shadow(0 0 7px aqua);
    overflow: hidden;
}

.player-area .player-image img {
    max-width: 100%;
}

.player-area .player-panel {
    padding: 20px;
}

.player-panel .player-info {
    text-align: center;
    font-size: 20px;
    color: #c5eeec;
}

.player-panel .player-info .song {
    color: aqua;
}

.player-panel .player-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.player-panel .next-controls {
    display: flex;
    gap: 5px;
}

.player-panel .control-play,
.player-panel .control-next {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.05s;
    cursor: pointer;
}

.player-panel .control-play {
    width: 38px;
    height: 38px;
}

.player-panel .control-next {
    width: 40px;
    height: 40px;
}

.player-panel .control-play:hover,
.player-panel .control-next:hover {
    filter: drop-shadow(0 0 3px aqua);
}

.control-play.play {
    background-image: url('../img/play.svg');
}

.control-play.pause {
    background-image: url('../img/pause.svg');
}

.control-next.previous {
    background-image: url('../img/previous.svg');
}

.control-next.next {
    background-image: url('../img/next.svg');
}

.progress-bar {
    transition: width 0.6s linear;
}

.player-panel .player-volume-container {
    display: flex;
    gap: 3px;
    align-items: center;
    width: 90px;
    margin-top: 10px;
}

.player-panel .volume-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/volume.svg');
}

.player-panel  .player-volume {
    width: 100%;
    height: 6px;
    margin: 10px 0;
    border-radius: 25px;
    background: linear-gradient(to right, aqua 0%, aqua 100%, #135e5a 100%, #135e5a 100%);
    cursor: pointer;
    appearance: none;
}

.player-panel  .player-volume::-webkit-slider-thumb {
    width: 6px;
    height: 6px;    
    border-radius: 25px;
    background: aqua;
    -webkit-appearance: none;
}
  
.player-panel  .player-volume::-moz-range-thumb {
    width: 6px;
    height: 6px;
    border-radius: 25px;
    border: 0px solid #000000;
    background: aqua;
}

.player-panel  .player-volume:focus {
    outline: none;
}

.player-panel .player-timeline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
.player-panel .player-progress {
    position: relative;
    display: flex;
    flex: 10;
    flex-basis: 100%;
    height: 10px;
    margin: 0 5px;
    border-radius: 25px;
    background:#135e5a;
    overflow: hidden;
    cursor: pointer;
  }
  
.player-panel .player-progress-fill {
    flex: 0;
    flex-basis: 0%;
    height: 10px;
    border-radius: 25px;
    background:aqua;   
    transition: linear 0.05s;
  }
  
.player-panel .player-time {
    padding: 2px 5px;
    color: aqua;
  }


footer {
    background: #000000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 10px 0;
    color: #ffffff;
    font-size: 20px;
}

.footer-block {
    width: 33.3333%;
    text-align: center;
}

.footer-block:last-child {
    display: flex;
    justify-content: end;
}

a.footer-github {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

a.footer-github:hover {
    color: aqua;
    text-decoration: underline;
}

a.footer-github img {
    width: 50px;
}

a.footer-github span {
    margin-left: 20px;
}

a.footer-rss img {
    width: 100px;
}